/* 000000000000000000
======= ======= == == cart btn animation starts   ======    ==== ====== ===============================================
 00000000000*/

.cart-button {
	position: relative;
	/* padding: 10px;
	width: 100%;
	height: 60px;
	border: 0;
	border-radius: 10px;
	background-color: transparent;
	outline: none;
    border: 1px solid #000;
	cursor: pointer;
	color: #060606; */
	transition: .10s ease-in-out;
	overflow: hidden;
}
/* .cart-button:hover {
	background-color: #35269b;
} */
.cart-button:active {
	transform: scale(.9);
}

.cart-button .fa-shopping-cart {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: -20%;
	font-size: 2em;
	transform: translate(-50%,-50%);
}
.cart-button .fa-box {
	position: absolute;
	z-index: 3;
	top: -20%;
	left: 52%;
	font-size: 1.2em;
	transform: translate(-50%,-50%);
}
.cart-button span {
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 50%;
	font-size: 1.2em;
	color: #050505;
	transform: translate(-50%,-50%);
}
.cart-button span.add-to-cart {
	opacity: 1;
}
.cart-button span.added {
	opacity: 0;
}
.cart-button.clicked {
    background-color: green !important;
    color: white;
    border: none !important;
}
.cart-button.clicked .fa-shopping-cart {
	animation: cart 1.5s ease-in-out forwards;
}
.cart-button.clicked .fa-box {
	animation: box 1.5s ease-in-out forwards;
}
.cart-button.clicked span.add-to-cart {
	animation: txt1 1.5s ease-in-out forwards;
}
.cart-button.clicked span.added {
	animation: txt2 1.5s ease-in-out forwards;
    color: white;
}
@keyframes cart {
	0% {
		left: -20%;
	}
	40%, 60% {
		left: 50%;
	}
	100% {
		left: 120%;
	}
}
@keyframes box {
	0%, 40% {
		top: -18%;
	}
	60% {
		top: 20%;
		left: 52%;
	}
	100% {
		top: 20%;
		left: 112%;
	}
}
@keyframes txt1 {
	0% {
		opacity: 1;
	}
	20%, 100% {
		opacity: 0;
	}
}
@keyframes txt2 {
	0%, 80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* 000000000000000000
======= ======= == == cart btn animation ends   ======    ==== ====== ===============================================
 00000000000*/